@model CRUD2.Models.Movies
@{
}
@* 
<!DOCTYPE html>
<!-- Coding By CodingNepal - www.codingnepalweb.com -->
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Glassmorphism Login Form | CodingNepal</title>
    <link rel="stylesheet" href="~/css/form.css" asp-append-version="true" />
</head>
<body>
    <div class="wrapper">
        <form method="post" action="Add">
            <h2>Login</h2>
            <div class="input-field">
                <input type="text" required asp-for="MovieName">
                <label>Movie Name</label>
            </div>
            <div class="input-field">
                <input type="text" required asp-for="Genre">
                <label>Genre</label>
            </div>
            <div class="input-field">
                <input type="date" asp-for="ReleaseDate">
                <label>Release Date</label>
            </div>
            <div class="input-field">
                <input type="text" required asp-for="Actors">
                <label>Actor and Actress Names</label>
            </div>



            <button type="submit">Submit</button>

        </form>
    </div>
</body>
</html>
 *@

@if (TempData["AlertMessage"] != null)
{
    <div class="alert alert-success">
        <strong>SUCCESS!</strong>@TempData["AlertMessage"]
    </div>
}

<div class="form-body align-items-center">
    <div class="row">
        <div class="form-holder">
            <div class="form-content mb-5">
                <div class="form-items">
                    <h3>MOVIES</h3>
                    <p>Fill in the data below.</p>
                    <form class="requires-validation" novalidate method="post" action="Add">

                        <div class="col-md-12">
                            <input class="form-control" type="text" placeholder="Movie Name" required asp-for="MovieName">

                        </div>

                        <div class="col-md-12">
                            <input class="form-control" type="text" placeholder="Genre" asp-for="Genre">

                        </div>

                        <div class="col-md-12">
                            <input class="form-control mt-2" type="date" placeholder="Release Date" asp-for="ReleaseDate">

                        </div>
                        <div class="col-md-12">
                            <input class="form-control" type="text" placeholder="Actors and Actresses" asp-for="Actors">

                        </div>

                        <div class="form-button mt-3">
                            <button id="submit" type="submit" class="btn btn-primary">Add</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/js/form.js" asp-append-version="true"></script>
<link rel="stylesheet" href="~/css/form.css" />